<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.newsscraper.daily</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/adaikkappankrishnan/Documents/NewsScraper/scripts/daily_auto_run.sh</string>
    </array>
    
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>11</integer>
        <key>Minute</key>
        <integer>3</integer>
    </dict>
    
    <key>WorkingDirectory</key>
    <string>/Users/adaikkappankrishnan/Documents/NewsScraper</string>
    
    <key>StandardOutPath</key>
    <string>/Users/adaikkappankrishnan/Documents/NewsScraper/logs/launchd_output.log</string>
    
    <key>StandardErrorPath</key>
    <string>/Users/adaikkappankrishnan/Documents/NewsScraper/logs/launchd_error.log</string>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/opt/anaconda3/bin:/opt/anaconda3/condabin</string>
        <key>HOME</key>
        <string>/Users/adaikkappankrishnan</string>
        <key>SHELL</key>
        <string>/bin/bash</string>
    </dict>
    
    <key>RunAtLoad</key>
    <false/>
    
    <key>KeepAlive</key>
    <false/>
</dict>
</plist>
